$black: #2D313D;
$black-shade: #424659;
$grey-shade: #363A4A;
$orange-shade: #E58C7D;
$blue-shade: #5699C2;

@font-face {
  font-family: "Aller";
  src: url('../fonts/Aller_Rg.ttf');
}
@font-face {
  font-family: "Aller";
  src: url('../fonts/Aller_Bd.ttf');
  font-weight: bold;
}
@font-face {
  font-family: "FontAwesome";
  src: url('../stylesheets/font-awesome/fonts/FontAwesome.otf');
}
.border-module {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
}
html {
  font-family: "Aller", "FontAwesome";
  overflow-y: hidden;
  overflow-x: hidden;
  height: 100%;
}
input {
  outline: none;
}
body {
  padding: 0;
  margin: 0;
  background-color: $black;
  h2 {
    color: $orange-shade;
    margin-left: 0.3em;
    margin-top: 10px;
    a {
      text-decoration: none;
      color: $orange-shade;
    }
  }
}

a {
  color: #96E57D;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#invisible-file-input{
  position: fixed;
  pointer-events: none;
  width:0;
  height:0;
  bottom:-100;
  right:-100;

}
audio {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

#visualizer {
  top: 1.3em;
  position: absolute;
  height: 33%;
  width: 100%;
  background-color: $black;
}

#login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99999;
  background-color: $grey-shade;
  padding: 2em;
  border-radius: 7px;
  @extend .border-module;
  input {
    display: flex;
    margin: auto auto;
    width: 100%;
    margin-bottom: 2em;
    padding: .5em .5em .6em .5em;
    border: 0px solid #eee;
    background-color: $black-shade;
    color: white;
    box-sizing: border-box;
    border-radius: 7px;
  }
  button {
    width: 100%;
    height: 3em;
    border-radius: 7px;
    background-color: $orange-shade;
    border-color: darken($orange-shade, 1%);
    font-weight: bold;
    color: #424659;
  }
  button:hover {
    background-color: #e05a49;
    border-color: darken(#e05a49, 1%);
  }
}
#mesh-logo {
  text-align: center;
  margin-bottom: 2em;
}
// Nav //
#nav {
  position: relative;
  width: 100%;
  height: 3em;
  text-align: right;
  display: inline-flex;
  justify-content: flex-end;
}
#rtos {
  display: inline-flex;
  text-align: left;
  position: absolute;
  top: 0;
  left: 0;
}
#id {
  margin: 1em 10px 0px 10px;
  display: none;
  color: $orange-shade;
}
#pid {
  color: white;
}
.glyph {
  padding: 0.2em;
  margin: 0.4em;
  display: flex;
  z-index: 999999;
  display: none;
}
.fa {
  display: flex;
  color: $orange-shade;
  margin-top: 2px;
}
#user-button, #start-video-feed, #file-upload {
  &:hover {
    color: darken(#e05a49, 1%);
  }
}
// Windows //
.window_title {
  display: flex;
  box-sizing: border-box;
  cursor: move;
  // padding: 1px;
  // position: relative;
  height: 1.8em;
  width: 100%;
  background-color: $grey-shade;
    span {
      padding: 3px;
      margin-left: 5px;
      color: $orange-shade;
    }

    .maximize {
      cursor:pointer;
      position: absolute;
      right: 0;
      margin-right: 5px;
    }
    .close {
      cursor:pointer;
      position: absolute;
      right: 0;
      margin-right: 5px;
    }
}
#chat_box {
  display: flex;
  width: 50%;
  flex-direction: column;
  flex: 1 50%;
  color: white;
  z-index: 99;
  background-color: $black-shade;
  box-sizing: border-box;
  top: 0px;
  bottom: 0px;
  @extend .border-module;
}
#file_box {
  flex: 1 50%;
  width: 50%;
  color: white;
  background-color: $black-shade;
  position: absolute;
  box-sizing: border-box;
  @extend .border-module;
  #file_menu{
    background-color: $grey-shade;
    position: absolute;
    top:1.8em;
    width: 100%;
    margin:0;
    padding: 0px;
    font-size: 0.7em;
    #my_files {
      cursor: pointer;
      margin: 0;
      padding-right: 2em;
      padding-left: 2em;
      &:hover{
        background-color: $black-shade;
      }
    }
    #downloads{
      cursor: pointer;
      margin: 0;
      padding-right: 2em;
      padding-left: 2em;
      &:hover{
        background-color: $black-shade;
      }
    }
    #bigfiles{
      cursor: pointer;
      margin: 0;
      padding-right: 2em;
      padding-left: 2em;
      &:hover{
        background-color: $black-shade;
      }
    }

    .file_menu-active{
      background-color: $black;
    }
  }
}
#file_list{
  position: absolute;
  
  left:0em;
  right:0em;
  top:2.0em;
  bottom:1.3em;
  overflow-y:auto;
  overflow-x:none;
    table{
    border-spacing: 0px;  
    margin: 0;
    padding: 0;
    width: 100%;
  }
  tr{
    width: 100%;

     &:hover{
    box-shadow: inset 0 0 3px $black;
    color:#eee;
    }
  }
  td{
    box-shadow: -1px 1px 1px #111!important;
    padding: 0.7em;
   
 
  }
}
#download_list_box{
  position: absolute;
  border-spacing: 0px;
  left:0em;
  right:0em;
  top:2em;
  bottom:1.3em;
  overflow-y:auto;
  overflow-x:none;

  table{
  border-spacing: 0px;  
  margin: 0;
  padding: 0;
  width: 100%;
  }

  tr{
    width: 100%;

    &:hover{
      box-shadow: inset 0 0 3px $black;
      color:#eee;
    }
  }

  td {
    box-shadow: -1px 1px 1px #111!important;
    padding: 0.7em;
  }

  td:nth-child(4){
    width: 10em;
  }
}


#big_files_box{
  position: absolute;
  border-spacing: 0px;
  left:0em;
  right:0em;
  top:2em;
  bottom:1.3em;
  overflow-y:auto;
  overflow-x:none;
    table{
    border-spacing: 0px;  
    margin: 0;
    padding: 0;
    width: 100%;
  }
  tr{
    width: 100%;

     &:hover{
    box-shadow: inset 0 0 3px $black;
    color:#eee;
    }
  }
  td{
    box-shadow: -1px 1px 1px #111!important;
    padding: 0.7em;
   
 
  }

}

#cam_box{
  position: absolute;
  width:640px;
  height: 320px;
  z-index: 9999;

  @extend .border-module;
}

#media_box {
  width: 50%;
  color: white;
  background-color: $black-shade;
  position: absolute;
  box-sizing: border-box;
  overflow-y: none;
  overflow-x: none;
  @extend .border-module;
}
#rs {
  position: fixed;
  width: 33%;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
}
#ls {
  position: fixed;
  width: 33%;
  top: 0px;
  left: 0px;
  bottom: 0px;
  z-index: -1;
}
#bs {
  position: fixed;
  width: 1px;
  bottom: 0px;
  left: 50%;
  height: 1px;
  margin: auto;
  z-index: -1;
  background-color: red;
  transform: translate(-50%, 0);
}
#global_chat {
  position: absolute;
  bottom: 1.8em;
  z-index: -1;
  overflow-y: auto;
  top: 1.6em;
  width: 100%;
  div {
    padding: 0px 0px 1px 8px;
    word-wrap: break-word;
  }
  div:first-child {
    padding: 5px 0px 1px 8px;
  }
  .messages em {
    font-size: small;
  }
}
.dragging_box {
  z-index: 99999;
}
#send {
  width: 100%;
  position: absolute;
  bottom: 0px;
  box-sizing: border-box;
  #text {
    border: 0;
    height: 1.5em;
    box-sizing: border-box;
    // font-family: "Courier New", Courier, monospace;
    font-size: 1.2em;
    color: white;
    background-color: $black;
    width: 100%;
    padding: 1px 0px 1px 8px;
  }
}
#chat_user_list {
  text-align: right;
  position: absolute;
  background-color: #26282C;
  color: white;
  right: 29px;
  width: 10em;
  top: 2.6em;
  display: none;
  z-index: 99999;
  border-radius: 5px;
  padding: 10px;
  margin-top: 7px;
  @extend .border-module;
    .users {
      text-align: center;
      padding-top: 0.4em;
      color: $orange-shade;
    }
    .self {
      padding: 0px 8px 1px 0px;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
    .active {
      padding: 4px 8px 4px 1px;
    }
    .peerUsername{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
    .mute_button{
      padding-right:0.3em; 
    }
}
#users {
  text-align: right;
  position: absolute;
  background-color: #4B4F53;
  right: 0px;
  width: 10em;
  // height: 94%;
  top: 1.3em;
  height: 1.3em;
  z-index: 3;
  @extend .border-module;
}
.chat_text-input input[type="text"] {
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}
.chat_text-input input[type="text"]:focus, .chat_text-input input[type="text"].focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #FF0000;
}
.mouse {
  position: fixed;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: rgba(255, 0, 0, 0.6);
  z-index: 99999;
  pointer-events: none;
}


.mousecam{
  border-radius:10000px;
  width: 100px;
  pointer-events: none;
}

/* video{
  width:100px;
} */
#media_player-video{
  position: absolute;
  width: 100%;
  margin: auto;
  outline: none;
}
#togglevideo{
  position: absolute;
  z-index: 9999;
  bottom:5em;

}
#canvas{
  position: absolute;
  top:1.6em;
  bottom: 0em;
  left:0em;
  right:0em;
  width: 100%;
}
#desktop {
  position: absolute;
  top: 3em;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  align-content: flex-start;
  justify-content: flex-end;
}
.split_left .split_right {
  flex: 1 50%;
}
#playlist_box {
  position: absolute;
  left:0em;
  right:0em;
  top:1.6em;
  bottom:3.2em;
  overflow-y: auto;
  overflow-x:none;

  // top:1.3em;
  // bottom: 0px;
}
#playlist {
  position: absolute;
  border-spacing: 0px;
  top:0px;
  width: 100%;
  margin: 0px;
  list-style: none;
  right:0em;
  left:0em;
  border: 1px;
  border-width: 1px;
  padding: 0;
  font-size: 0.9em;
  .artist{
    width:3em;
  }

  a{
    color:#aaa;
    text-decoration: none;
  }
  table{
    margin: 0;
    padding: 0;
    width: 100%;
  }
  tr{
    width: 100%;

     &:hover{
    box-shadow: inset 0 0 3px $black;
    color:#eee;
    }
  }
  td{
    box-shadow: -1px 1px 1px #111!important;
    padding: 0.7em;
   
 
  }
}
.file-entry {
  position: relative;
  font-size: 0.9em;
  padding: 0.7em;
  box-shadow: -1px 1px 1px #111;
  width: auto;
  &:hover {
    box-shadow: inset 0 0 3px $black;
    color: #eee;
  }
  a {
    text-decoration: none;
    color: #aaa;
  }
}
.progress-bar {
  position: absolute;
  right: 0;
}
.nowplaying {
  position: absolute;
  width: 100%;
  bottom: 1.9em;
  text-align: center;
  color: $orange-shade;
  margin: auto;
}
#pointcloud {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -3;
}
.files {
  bottom: 0;
  top: 1.3em;
  right: 0;
}
.hide_users {
  position: absolute;
  top: 1.6em;
  bottom: 3em;
}
.downloaded {
  color: $orange-shade !important;
}

/// Audio Player Styling /// 

input[type="range"] {
  -webkit-appearance: none;
  width: 7.5em;
  height: 20px;
  margin-top: 10px;
  margin-left: 10px;
  float: left;
  border-radius: 15px;
  background: rgba(0, 0, 0, .3);

  &::-moz-range-track {
    -moz-appearance: none;
    width: 7.5em;
    height: 20px;
    margin-top: 10px;
    float: left;
    border-radius: 15px;
    background: rgba(0, 0, 0, .3);
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin-top: 1px;
    background: #E58C7D;
  }

  &::-moz-range-thumb {
    -moz-appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin-top: 1px;
    background: #E58C7D;
  }
}

#audioplayer {
  height: 40px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  justify-content: center;
  display: flex;
}

#audioplayer > div {
  display: flex;
}

#pButton {
  height: 40px;
  width: 40px;
  border: none;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  background-position: center;
  float: left;
  outline: none;
}

.play {background: url('../images/play.png');}
.pause {background: url('../images/pause.png');}

#timeline {
  width: 35em;
  height: 20px;
  margin-top: 10px;
  float: left;
  border-radius: 15px;
  background: rgba(0, 0, 0, .3);
}

#playhead {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-top: 1px;
  background: $orange-shade;
}

.column_label{
  background-color: $black;
  font-size: 0.7em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  text-align: center;
}
.file_list-icon{
  padding-right: 1em;
}

.torrent-contents{
  list-style: none;
}
